﻿﻿<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
    </httpErrors>
    <rewrite>
      <rules>
	    <rule name="Redirect /tr to /tr.html" stopProcessing="true">
          <match url="^tr$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^appizsoft\.com$" />
          </conditions>
          <action type="Rewrite" url="/tr.html" />
        </rule>
		 <rule name="Redirect /tr/ to /tr.html" stopProcessing="true">
          <match url="^tr/$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^appizsoft\.com$" />
          </conditions>
          <action type="Rewrite" url="/tr.html" />
        </rule>
	  
        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Rewrite to HTML Extension" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
       <rule name="Redirect tr.html to /tr" stopProcessing="true">
          <match url="^tr\.html$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^appizsoft\.com$" />
          </conditions>
          <action type="Redirect" url="/tr" />
        </rule>
		
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\vhosts\appizsoft.com\tmp" />
  </system.web>
</configuration>